/* Style global */
body {
  font-family: oswald;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

header {
  background-color: #6e918e;
  color: rgb(255, 253, 253);
  padding: 20px;
  text-align: center; /* Centre le texte */
}

.header-content {
  display: flex; /* Utiliser flexbox pour aligner logo et texte */
  align-items: center; /* Aligne verticalement le logo et le texte */
  justify-content: space-between; /* Pousse le texte au centre */
  width: 100%; /* Assurez-vous que cela prend tout l'espace disponible */
}


img {
  margin-right: 100px; /* Espacement entre le logo et le texte */
  width: 150px; /* Modifiez la largeur selon vos besoins */
  height: auto; /* Pour garder les proportions */
}


h1, h2, h3 {
  font-weight: bold;
}

main {
  padding: 20px;
}

/* Section des films */
.movies-section {
  padding: 20px;
}

.movies-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(3, 200px); /* Passez à 4 colonnes pour plus de films par ligne */
  gap: 20px; /* Espacement réduit entre les films */
  justify-content: left; /* Centrer ou a gauche la grille sur la page */
}

.movie-item {
  max-width: 180px; /* Limitez la largeur de chaque film */
  margin: 0 ; /* Centrer les items individuellement */
}

.movie-item img {
  max-width: 100%; /* Gardez les images dans leur conteneur */
  height: auto; /* Conservez le ratio d'aspect */
}

.movie-item:hover img {
  max-width: 100%; /* Gardez les images dans leur conteneur */
  height: auto; /* Conservez le ratio d'aspect */
}

.details-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie-item:hover .details-btn {
  opacity: 1;
}

/* Section du meilleur film */
#best-movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 6px solid #000000;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 600px;
  margin: 0 auto;
  justify-content: flex-start; /* Aligne les éléments à gauche */
}

#best-movie-container img {
  width: 150%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-right: 20px; /* Espace entre le meilleur film et les autres éléments */
}

#best-movie-details h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  flex-grow: 1; /* Permet aux détails de prendre l'espace restant */
}
#best-movie-details p {
  margin: 10px 0;
  color: #555;
  text-align: right;
  flex-grow: 1; /* Permet aux détails de prendre l'espace restant */
}

#best-movie-container button {
  align-self: start;
  padding: 8px 12px;
  background-color: #eb1515;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#best-movie-container button:hover {
  background-color: #0056b3;
}

/* Réactivité */
@media (max-width: 768px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .movie-item {
    margin: auto;
  }
}

@media (max-width: 180px) {
  .movies-grid {
    grid-template-columns: 1fr;
  }
}

/* Style pour la section "Autres catégories" */
#other-categories {
  margin-top: 30px;
}

#category-selector {
  display: block;
  margin: 10px auto;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Carrousel des films */
.movie-carousel {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  gap: 15px;
}

.movie-carousel::-webkit-scrollbar {
  display: flex;
  grid-template-columns: repeat(3, 30px); /* Passez à 4 colonnes pour plus de films par ligne */
  gap: 20px; /* Espacement réduit entre les films */
  justify-content: center; /* Centrer ou gauche de la grille sur la page */
}
.movie-item {
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-item:hover {
  transform: scale(1.05);
}

.movie-item img {
  width: 100%;
  height: auto;
}

.movie-item h4 {
  font-size: 0.9em;
  margin: 10px 0;
}

.modal {
  display: none; /* Masquée par défaut */
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}